
:root{


    --demo_grid_width:60%;
    --padding_all:10px;
    --color_main:#661be6;
    --color_main_focused:#661be6;
    --label_focused_left_space:16px;
    --label_focused_right_space:16px;
    --label_font_size:1rem;
    --label_focused_font_size:.8rem;

}


.left_icon{
    /*margin-bottom: 0.1px;*/
}

.demo_grid{

    width: var(--demo_grid_width);
    /*justify-self: center;*/
    /*flex:0 0 100%;*/
    /*flex: 0 0 100%;*/
}


/*.demo_grid {*/
/*    width:var(--demo_grid_width);*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/

/*}*/


/*!*111 BEFORE*!*/

.container_mui label {
    color: #939293;
    font-size: var(--label_font_size);
    left: calc(var(--padding_all) + 1em);
    position: absolute;
    top: 0.8em;
    transition: all 0.1s linear;
    /* ++   */
    /*margin-left:2em;*/
}

::placeholder {  color: green; opacity: 1; }

.container_mui input {
    background-color: transparent;
    /*border: none;*/
    border: 1px solid;
    border-color: var(--color_main);
    border-radius: 5px;
    color: black;
    font-size: 1em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    /*!!! for icons */
    /*padding-left:4em;*/
}

/*222 AFTER*/

.container_mui input:focus + label,
.container_mui input + label.show {
    color: var(--color_main);
    font-size: var(--label_focused_font_size);
    /*: 0.8em;*/
    left: var(--label_focused_left_space);
    padding: 0 0.5em;

    top: -.9em;
    background: white;

    /*top: -.9em;*/
    /*background: white;*/
}

/*.container_mui .input_right:focus + label*/
/*, .container_mui .input_right + label.show*/
/*{*/
/*    color: var(--color_main);*/
/*    font-size: var(--label_focused_font_size);*/
/*    !*: 0.8em;*!*/
/*    left: var(--label_focused_right_space);*/
/*    padding: 0 0.5em;*/
/*    top: -.9em;*/
/*    background: white;*/
/*}*/

/*.container_mui .input_left:focus + label,*/
/*.container_mui .input_left + label.show */
/*{*/
/*    color: var(--color_main);*/
/*    font-size: var(--label_focused_font_size);*/
/*    !*: 0.8em;*!*/
/*    left: var(--label_focused_left_space);*/
/*    padding: 0 0.5em;*/
/*    top: -.9em;*/
/*    background: white;*/
/*}*/


.container_mui input:focus {

    outline: none;
    border: 1px solid transparent;
    /*box-shadow: none;*/
    box-shadow: 0 0 0 2px darkorange;


}


.container_mui .left-icon {
    left:1em;
    top: 0.9rem;
    position: absolute;
}

.container_mui .left-icon-focused {
    left:1em;
    /*top: 0.9rem;*/
    position: absolute;
    padding-top: 20px;

}

.container_mui .left-icon-focused:hover {
    cursor:pointer;
}


.container_mui .right-icon {
    right:1em;
    top: 0.9rem;
    position: absolute;
}

.helper-text {
    font-size: 0.8em;
    color: var(--color_main);
    opacity: 50%;
    padding-left: 1.2em;
    padding-top: 0.1em;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.75;
}

body, input {
    font-family: "Roboto", sans-serif;
}

.container_mui_form {

    width: 100%;
    padding-left: var(--padding_all);
    padding-right: var(--padding_all);
    position: relative;

}

.container_mui {



}

.container_mui_filled {

    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;

    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.06);
    transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    box-sizing: border-box;
    /*position: relative;*/
    cursor: text;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*position: relative;*/
    /*-webkit-transition: background-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;*/

}
