:root{
    --padding_all:10px;
    --color_main:#661be6;
    --color_main_focused:#661be6;
    --label_focused_left_space:16px;
}

/*111 BEFORE*/
.container label {
    color: #939293;
    font-size: 1em;
    left: calc(var(--padding_all) + 1em);
    position: absolute;
    top: 0.8em;
    transition: all 0.1s linear;
    /* ++   */
    /*margin-left:2em;*/
}

.container input {
    background-color: transparent;
    border: 1px solid var(--color_main);
    border-radius: 5px;
    color: black;
    font-size: 1em;
    
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    width: 100%;
    /*!!! for icons */
    /*padding-left:4em;*/
}

/*222 AFTER*/
.container input:focus + label,
.container input + label.show {
    color: var(--color_main);
    font-size: 0.8em;
    left: var(--label_focused_left_space);
    padding: 0 0.5em;
    top: -.9em;
    background: white;
}
.container input:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--color_main_focused);
}


.container .left-icon {
    left:1em;
    top: 0.9rem;
    position: absolute;
}


.container .right-icon {
    right:1em;
    top: 0.9rem;
    position: absolute;
}

.container .helper-text {
    font-size: 0.8em;
    color: var(--color_main);
    opacity: 50%;
    padding-left: 1.2em;
    padding-top: 0.1em;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    line-height: 1.75;
}

body, input {
    font-family: "Roboto", sans-serif;
}

form {
    width: 100%;
    
    padding-left: var(--padding_all);
    padding-right: var(--padding_all);

    position: absolute;
    
}
