
#root {width: 100%}

html, body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    /*displax: flex;*/
}

body
{
    background: lightblue;
    background: white;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;

}

:root {
}

.App {

    height: 100%;
    width: 100%;

}

