
.colors {
    color: rgba(165, 97, 42, 0.26);
    color: rgba(165, 97, 42, 0.41);
    color: rgba(165, 97, 42, 0.17);

    color: rgb(239, 51, 65);
    color: rgb(45, 45, 45);
    color: rgb(156,49,49);


}
/*.stack__container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    align-items: start;*/
/*    justify-content: space-evenly;*/
/*    width: 900px;*/
/*    height:600px;*/

/*    margin-top: 100px;*/
/*    margin-bottom: 100px;*/

/*    padding-top: 200rem;*/
/*}*/


/*.app__container {*/
/*    display: flex;*/

/*    !*overflow: auto;*!*/

/*}*/
